<!DOCTYPE html>
<html>
<%- include ../public/header %>
<body>
<div class="wrapper">
    <%- include ../public/sidebar %>
    <div class="main-panel">
        <div class="investment_f">
            <% include ./menu %>
            <div id="myTabContent" class="tab-content" style="text-align: center; padding-top: 20px">
                <div class="tab-pane fade in active" id="customerInfo">
                    <div style="padding: 14px">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../public/errorPagePop %>
</body>
</html>
