<ul id="myTab" class="nav nav-tabs">
    <li><a href="/company/dataManageList">企业数据</a></li>
    <li><a href="/company/orderQuery">订单管理</a></li>
</ul>
<script>
    <%if(!!locals.showTob){%>
    $("#myTab li").each(function () {
        if ($(this).find('a').text() == '<%=showTob.title%>') {
            $(this).addClass('active');
        }
    });
    <%}%>
</script>