<div class="modal fade" id="block_box_create1" tabindex="10" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form id="form" method="post" action="/company/init" class="form-horizontal form-submit"
              enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-body" style="margin: 20px">
                    <div class="form-group">
                        <label for="i1">选择文件</label><br>
                        <a href="javascript:;" class="file">选择文件
                            <input type="file" onchange="fileChange(this)" id="file" name="file">
                        </a>
                        <span style="padding: 4px 20px;" class="fileName"></span>
                    </div>
                    <div class="form-group">
                        <label for="i6">文件大小不超过5MB，类型为:xlsx
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="上传文件"/>
                    <a href="#" class="btn btn-primary" data-dismiss="modal" style="margin-bottom: 10px;">关闭</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    //上传文件格式限制
    function fileChange(target) {
        var isIE = /msie/i.test(navigator.userAgent) && !window.opera;
        var fileSize = 0;
        if (isIE && !target.files) {
            var filePath = target.value;
            var fileSystem = new ActiveXObject("Scripting.FileSystemObject");
            var file = fileSystem.GetFile(filePath);
            fileSize = file.Size;
        } else {
            fileSize = target.files[0].size;
        }
        var size = fileSize / 1024;
        if (size > 5000) {
            alert("附件不能大于5M");
            target.value = "";
            return
        }
        var name = target.value;
        var fileName = name.substring(name.lastIndexOf(".") + 1).toLowerCase();
        if (fileName != "xlsx") {
            alert("请选择xlsx格式文件上传！");
            target.value = "";
            return
        } else {
            var nameTemp = name.split('\\');
            if (nameTemp.length > 0) {
                $("#form").find(".fileName").text(nameTemp[nameTemp.length - 1]);
            } else {
                $("#form").find(".fileName").text(name);
            }
        }
    }
</script>
