<div>
    <a type="button" href="/template/渠道子系统导入客户模板.xlsx" class="btn btn-success">
        <span class="glyphicon glyphicon-download btn_icon" aria-hidden="true"></span>模板下载
    </a>
    <button id="upload" type="button" class="btn btn-success" data-toggle="modal" data-target="#block_box_create1">
        <span class="glyphicon glyphicon-upload btn_icon" aria-hidden="true"></span>企业上传
    </button>
</div>