<ul id="myTab" class="nav nav-tabs">
    <li><a href="/infoPerfect/init">资料完善</a></li>
    <li><a href="/infoPerfect/init">授信历史</a></li>
    <li><a href="/infoPerfect/init">贷款历史</a></li>
</ul>
<script>
</script>