<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="SandGlass">
    <meta name="description" content="众包">
    <meta name="author" content="King.wpg">
    <title><%= title %></title>
    <link type='text/css' rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link type='text/css' rel='stylesheet' href='/bootstrap/css/toastr.css' />
    <link type='text/css' href="/stylesheets/style.css" rel="stylesheet">
    <script type='text/javascript' src='/javascripts/jquery.min.js'></script>
    <script type='text/javascript' src='/bootstrap/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/bootstrap/js/toastr.js'></script>
    <style>
        .check-list li{
            list-style: none;
            margin-bottom: 20px;
        }
    </style>
</head>